
##############clock#############################
NET CLK_100MHZ  LOC = V10  ; 
NET CLK_100MHZ CLOCK_DEDICATED_ROUTE = FALSE;

##############push button#######################
NET RESET  LOC = F14  | pullup; 
NET "RESET" CLOCK_DEDICATED_ROUTE = FALSE;

##############LED###############################
NET TEST_LED<0> LOC=L6   | IOSTANDARD = MOBILE_DDR; 
NET TEST_LED<1> LOC=M5   | IOSTANDARD = MOBILE_DDR;
NET TEST_LED<2> LOC=P1   | IOSTANDARD = MOBILE_DDR;
NET TEST_LED<3> LOC=E4   | IOSTANDARD = MOBILE_DDR;
NET TEST_LED<4> LOC=C2   | IOSTANDARD = MOBILE_DDR;
NET TEST_LED<5> LOC=C1   | IOSTANDARD = MOBILE_DDR;
NET TEST_LED<6> LOC=P4    | IOSTANDARD = MOBILE_DDR;
NET TEST_LED<7> LOC=P3    | IOSTANDARD = MOBILE_DDR;NET RGB_LED<0>  LOC = N3   | IOSTANDARD = MOBILE_DDR; 
NET RGB_LED<1>  LOC = P16  ; 
NET RGB_LED<2>  LOC = P15 ; 



NET USB_RXD  LOC = C17   ;
NET USB_TXD  LOC = C18    ;

