//! **************************************************************************
// Written by: Map P.20131013 on Sun Jul 05 22:26:15 2020
//! **************************************************************************

SCHEMATIC START;
COMP "USB_RXD" LOCATE = SITE "C17" LEVEL 1;
COMP "USB_TXD" LOCATE = SITE "C18" LEVEL 1;
COMP "RESET" LOCATE = SITE "F14" LEVEL 1;
PIN RESET_pin<0> = BEL "RESET" PINNAME PAD;
PIN "RESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLK_100MHZ" LOCATE = SITE "V10" LEVEL 1;
PIN CLK_100MHZ_pin<0> = BEL "CLK_100MHZ" PINNAME PAD;
PIN "CLK_100MHZ_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "TEST_LED<0>" LOCATE = SITE "L6" LEVEL 1;
COMP "TEST_LED<1>" LOCATE = SITE "M5" LEVEL 1;
COMP "TEST_LED<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "TEST_LED<3>" LOCATE = SITE "E4" LEVEL 1;
COMP "TEST_LED<4>" LOCATE = SITE "C2" LEVEL 1;
COMP "TEST_LED<5>" LOCATE = SITE "C1" LEVEL 1;
COMP "TEST_LED<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "TEST_LED<7>" LOCATE = SITE "P3" LEVEL 1;
COMP "RGB_LED<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "RGB_LED<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "RGB_LED<2>" LOCATE = SITE "P15" LEVEL 1;
SCHEMATIC END;

