//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 24 10:05:55 2018
//! **************************************************************************

SCHEMATIC START;
COMP "RESET" LOCATE = SITE "U16" LEVEL 1;
PIN RESET_pin<0> = BEL "RESET" PINNAME PAD;
PIN "RESET_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED1_B" LOCATE = SITE "P1" LEVEL 1;
COMP "LED2_B" LOCATE = SITE "C1" LEVEL 1;
COMP "LED1_G" LOCATE = SITE "M5" LEVEL 1;
COMP "LED3_B" LOCATE = SITE "N3" LEVEL 1;
COMP "LED2_G" LOCATE = SITE "C2" LEVEL 1;
COMP "LED4_B" LOCATE = SITE "P15" LEVEL 1;
COMP "LED3_G" LOCATE = SITE "P3" LEVEL 1;
COMP "LED1_R" LOCATE = SITE "L6" LEVEL 1;
COMP "LED4_G" LOCATE = SITE "P16" LEVEL 1;
COMP "LED2_R" LOCATE = SITE "E4" LEVEL 1;
COMP "LED3_R" LOCATE = SITE "P4" LEVEL 1;
COMP "CLOCK_12MHZ" LOCATE = SITE "H17" LEVEL 1;
COMP "USB_UART_RX" LOCATE = SITE "C18" LEVEL 1;
COMP "USB_UART_TX" LOCATE = SITE "C17" LEVEL 1;
SCHEMATIC END;

