//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 20 19:35:02 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CLK_OSC" LOCATE = SITE "P87" LEVEL 1;
PIN CLK_OSC_pin<0> = BEL "CLK_OSC" PINNAME PAD;
PIN "CLK_OSC_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "led_test<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "led_test<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "led_test<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "led_test<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "reset" LOCATE = SITE "P7" LEVEL 1;
COMP "led_test<4>" LOCATE = SITE "P9" LEVEL 1;
COMP "tx_232" LOCATE = SITE "P85" LEVEL 1;
COMP "led_test<5>" LOCATE = SITE "P8" LEVEL 1;
COMP "led_test<6>" LOCATE = SITE "P6" LEVEL 1;
COMP "led_test<7>" LOCATE = SITE "P5" LEVEL 1;
SCHEMATIC END;

